
<div class="container">
    <div *ngIf ="isMessage" class="alert alert-success" role="alert">
        {{message}}
      </div>
<form (ngSubmit)="onSubmit()" #credstore="ngForm">
<div class="form-group" >
    <label for="domain">Domain</label>
    <input ngModel name ="domain"  #domain="ngModel" class="form-control" id="domain" [(ngModel)]="model.domain">
    <br>
</div>
<div class="form-group" >
<label for="username">username</label>
  <input ngModel name ="username"  #username="ngModel" class="form-control" id="username" [(ngModel)]="model.username">
  <br>
</div>
<div class="form-group" >
  <label for="password">Password</label>
  <input ngModel name ="password" type="password" #password="ngModel"  class="form-control" id="password" [(ngModel)]="model.password">
   <br>
  <button type ="button" class="btn btn-primary" (click)="addcred(); credstore.reset()">add cred</button>

</div>

</form>
</div>